<!doctype html>
<html class="no-js" lang="">
<head>
  <meta charset="utf-8">
  <title>클로저스 종합전투력 계산기</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
  <link rel="stylesheet" href="css/main.css">
</head>
<body>
<div id="app">
    <div class="container-sm">

    <!-- 캐릭터 선택 -->
    <div class="form-floating mb-3">
        <select class="form-select" id="캐릭터" v-model="캐릭터">
          <option value="이세하" selected>이세하</option>
          <option value="이슬비">이슬비</option>
          <option value="제이">제이</option>
          <option value="서유리">서유리</option>
          <option value="미스틸테인">미스틸테인</option>
          <option value="나타">나타</option>
          <option value="레비아">레비아</option>
          <option value="하피">하피</option>
          <option value="티나">티나</option>
          <option value="바이올렛">바이올렛</option>
          <option value="볼프강">볼프강</option>
          <option value="루나">루나</option>
          <option value="소마">소마</option>
          <option value="파이">파이</option>
          <option value="세트">세트</option>
          <option value="미래">미래</option>
          <option value="김철수">김철수</option>
          <option value="은하">은하</option>
          <option value="루시">루시</option>
        </select>
        <label for="캐릭터">캐릭터</label>
    </div>

    <!-- 순수 공격력/총 공격력 계산 -->
    <div v-if="캐릭터 !== '서유리'">
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary mb-3" data-bs-toggle="modal" data-bs-target="#공격력계산">
            순수 공격력/총 공격력 계산
        </button>    
        <!-- Modal -->
        <div class="modal fade" id="공격력계산" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">공격력 계산(PNA 공격기제로 조절)</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="input-group mb-3">
                            <span class="input-group-text">웨폰 코어 공격력</span>
                            <input type="number" class="form-control text-end" v-model.number="코어공격력">
                        </div>
                        <hr> 
                        <div v-if="캐릭터_데이터[캐릭터].타입 === '물리' || 캐릭터_데이터[캐릭터].타입 === '하이브리드'">
                            <div class="input-group mb-3">
                                <span class="input-group-text">처음 물리 공격력이</span>
                                <input type="number" class="form-control text-end" v-model.number="물공">
                                <span class="input-group-text">에서</span>
                            </div>
                            <div class="input-group mb-3">
                                <span class="input-group-text">총 물리 공격력이 </span>
                                <input type="number" class="form-control text-end" v-model.number="하락한물공퍼센트">
                                <span class="input-group-text">%만큼 하락하면</span>
                            </div>
                            <div class="input-group mb-3">
                                <span class="input-group-text">물리 공격력이</span>
                                <input type="number" class="form-control text-end" v-model.number="하락한물공">
                                <span class="input-group-text">이(가) 된다.</span>
                            </div>
                            <div>
                                순수 물리 공격력(웨폰코어 제외): {{ 숫자콤마(순수물리공격력계산().순물공) }}, 총 물리 공격력(%): {{ 소수점두자리콤마(순수물리공격력계산().총물공) }}
                            </div>
                        </div>
                        <hr  v-if="캐릭터_데이터[캐릭터].타입 === '하이브리드'"> 
                        <div v-if="캐릭터_데이터[캐릭터].타입 === '마법' || 캐릭터_데이터[캐릭터].타입 === '하이브리드'">
                            <div class="input-group mb-3">
                                <span class="input-group-text">처음 마법 공격력이</span>
                                <input type="number" class="form-control text-end" v-model.number="마공">
                                <span class="input-group-text">에서</span>
                            </div>
                            <div class="input-group mb-3">
                                <span class="input-group-text">총 마법 공격력이 </span>
                                <input type="number" class="form-control text-end" v-model.number="하락한마공퍼센트">
                                <span class="input-group-text">%만큼 하락하면</span>
                            </div>
                            <div class="input-group mb-3">
                                <span class="input-group-text">마법 공격력이</span>
                                <input type="number" class="form-control text-end" v-model.number="하락한마공">
                                <span class="input-group-text">이(가) 된다.</span>
                            </div>
                            <div>
                                순수 마법 공격력(웨폰코어 제외): {{ 숫자콤마(순수마법공격력계산().순마공) }}, 총 마법 공격력(%): {{ 소수점두자리콤마(순수마법공격력계산().총마공) }}
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div v-if="캐릭터 === '서유리'">
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary mb-3" data-bs-toggle="modal" data-bs-target="#공격력계산">
            순수 공격력/총 공격력 계산
        </button>    
        <!-- Modal -->
        <div class="modal fade" id="공격력계산" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">공격력 계산(PNA 공격기제로 조절)</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="input-group mb-3">
                            <span class="input-group-text">웨폰 코어 공격력</span>
                            <input type="number" class="form-control text-end" v-model.number="코어공격력">
                        </div>
                        <hr> 
                        <div class="input-group mb-3">
                            <span class="input-group-text">처음 물리 공격력이</span>
                            <input type="number" class="form-control text-end" v-model.number="물공">
                            <span class="input-group-text">에서</span>
                        </div>
                        <div class="input-group mb-3">
                            <span class="input-group-text">총 물리, 마법 공격력이 </span>
                            <input type="number" class="form-control text-end" v-model.number="하락한물공퍼센트">
                            <span class="input-group-text">%만큼 하락하면</span>
                        </div>
                        <div class="input-group mb-3">
                            <span class="input-group-text">물리 공격력이</span>
                            <input type="number" class="form-control text-end" v-model.number="하락한물공">
                            <span class="input-group-text">이(가) 된다.</span>
                        </div>
                        <div>
                            순수 물리 공격력(전투 감각 보정 전, 웨폰코어 제외): {{ 숫자콤마(서유리순수물리공격력계산().보정전순물공) }}, 총 물리 공격력(%): {{ 숫자콤마(서유리순수물리공격력계산().총물공) }}
                        </div>
                        <hr>
                        <div class="input-group mb-3">
                            <span class="input-group-text">처음 마법 공격력이</span>
                            <input type="number" class="form-control text-end" v-model.number="마공">
                            <span class="input-group-text">에서</span>
                        </div>
                        <div class="input-group mb-3">
                            <span class="input-group-text">총 물리, 마법 공격력이 </span>
                            <input type="number" class="form-control text-end" v-model.number="하락한물공퍼센트">
                            <span class="input-group-text">%만큼 하락하면</span>
                        </div>
                        <div class="input-group mb-3">
                            <span class="input-group-text">마법 공격력이</span>
                            <input type="number" class="form-control text-end" v-model.number="하락한마공">
                            <span class="input-group-text">이(가) 된다.</span>
                        </div>
                        <div>
                            순수 마법 공격력(전투 감각 보정 전, 웨폰코어 제외): {{ 숫자콤마(서유리순수마법공격력계산().보정전순마공) }}, 총 마법 공격력(%): {{ 소수점두자리콤마(서유리순수마법공격력계산().총마공) }}
                        </div>
                    </div>
                    <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- 능력치 입력 -->
    <div>
        <div class="input-group mb-3" v-if="캐릭터_데이터[캐릭터].타입 === '물리' || 캐릭터_데이터[캐릭터].타입 === '하이브리드'">
            <span class="input-group-text">물리 공격력</span>
            <input type="number" class="form-control text-end" v-model.number="물공">
        </div>
        <div class="input-group mb-3" v-if="캐릭터_데이터[캐릭터].타입 === '마법' || 캐릭터_데이터[캐릭터].타입 === '하이브리드'">
            <span class="input-group-text">마법 공격력</span>
            <input type="number" class="form-control text-end" v-model.number="마공">
        </div>
        <div class="input-group mb-3" v-if="캐릭터_데이터[캐릭터].타입 === '물리' || 캐릭터_데이터[캐릭터].타입 === '하이브리드'">
            <span class="input-group-text">물리 치명타 피해량</span>
            <input type="number" class="form-control text-end" v-model.number="물치피">
            <span class="input-group-text">%</span>
        </div>
        <div class="input-group mb-3" v-if="캐릭터_데이터[캐릭터].타입 === '마법' || 캐릭터_데이터[캐릭터].타입 === '하이브리드'">
            <span class="input-group-text">마법 치명타 피해량</span>
            <input type="number" class="form-control text-end" v-model.number="마치피">
            <span class="input-group-text">%</span>
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text">공격 속도(%)</span>
            <input type="number" class="form-control text-end" v-model.number="공속">
            <span class="input-group-text">%</span>
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text">위상력 개방시 데미지 증가</span>
            <input type="number" class="form-control text-end" v-model.number="위개뎀">
            <span class="input-group-text">%</span>
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text">에어리얼시 피해량 증가</span>
            <input type="number" class="form-control text-end" v-model.number="에피증">
            <span class="input-group-text">%</span>
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text">에어리얼시 치명타 피해량</span>
            <input type="number" class="form-control text-end" v-model.number="에치피">
            <span class="input-group-text">%</span>
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text">백어택시 피해량 증가</span>
            <input type="number" class="form-control text-end" v-model.number="백피증">
            <span class="input-group-text">%</span>
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text">백어택시 치명타 피해량</span>
            <input type="number" class="form-control text-end" v-model.number="백치피">
            <span class="input-group-text">%</span>
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text">체이스시 피해량 증가</span>
            <input type="number" class="form-control text-end" v-model.number="체피증">
            <span class="input-group-text">%</span>
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text">체이스시 치명타 피해량</span>
            <input type="number" class="form-control text-end" v-model.number="체치피">
            <span class="input-group-text">%</span>
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text">스킬 재사용 대기시간</span>
            <input type="number" class="form-control text-end" v-model.number="쿨감">
            <span class="input-group-text">%</span>
        </div>
    </div>

    <!-- 종합전투력, 합치피, 합피증 표시 -->
    <div class="h4" v-if="캐릭터_데이터[캐릭터].타입 === '물리'">
        종합전투력: {{ 숫자콤마(물리종합전투력계산({
                공속: this.공속,
                물공: this.물공,
                마공: this.마공,
                물치피: this.물치피,
                마치피: this.마치피,
                위개뎀: this.위개뎀,
                에피증: this.에피증,
                백피증: this.백피증,
                체피증: this.체피증,
                에치피: this.에치피,
                백치피: this.백치피,
                체치피: this.체치피,
                쿨감: this.쿨감
            }, this.캐릭터))
        }}
        <br>
        합치피: {{ 소수점두자리콤마(this.물치피 + this.에치피 + this.백치피 + this.체치피) }}%
        <br>
        합피증: {{ 소수점두자리콤마(this.위개뎀 + this.에피증 + this.백피증 + this.체피증) }}%
    </div>
    <div class="h4" v-if="캐릭터_데이터[캐릭터].타입 === '마법'">
        종합전투력: {{ 숫자콤마(마법종합전투력계산({
                공속: this.공속,
                물공: this.물공,
                마공: this.마공,
                물치피: this.물치피,
                마치피: this.마치피,
                위개뎀: this.위개뎀,
                에피증: this.에피증,
                백피증: this.백피증,
                체피증: this.체피증,
                에치피: this.에치피,
                백치피: this.백치피,
                체치피: this.체치피,
                쿨감: this.쿨감
            }, this.캐릭터))
        }}
        <br>
        합치피: {{ 소수점두자리콤마(this.마치피 + this.에치피 + this.백치피 + this.체치피) }}%
        <br>
        합피증: {{ 소수점두자리콤마(this.위개뎀 + this.에피증 + this.백피증 + this.체피증) }}%
    </div>
    <div class="h4"v-if="캐릭터_데이터[캐릭터].타입 === '하이브리드'">
        종합전투력: {{ 숫자콤마(하이브리드종합전투력계산({
                공속: this.공속,
                물공: this.물공,
                마공: this.마공,
                물치피: this.물치피,
                마치피: this.마치피,
                위개뎀: this.위개뎀,
                에피증: this.에피증,
                백피증: this.백피증,
                체피증: this.체피증,
                에치피: this.에치피,
                백치피: this.백치피,
                체치피: this.체치피,
                쿨감: this.쿨감
            }, this.캐릭터))
        }}
        <br>
        합치피(물리): {{ 소수점두자리콤마(this.물치피 + this.에치피 + this.백치피 + this.체치피) }}%
        <br>
        합치피(마법): {{ 소수점두자리콤마(this.마치피 + this.에치피 + this.백치피 + this.체치피) }}%
        <br>
        합피증: {{ 소수점두자리콤마(this.위개뎀 + this.에피증 + this.백피증 + this.체피증) }}%
    </div>

    <!-- 물공 종합 전투력 증가량 -->
    <div v-if="캐릭터 === '제이' || 
        캐릭터 === '루나' || 
        캐릭터 === '소마'|| 
        캐릭터 === '미래'">
        <table class="table">
            <tr>
                <th></th>
                <th class="text-end">종합 전투력 증가량</th>
            </tr>
            <tr>
                <th>물리 공격력 100</th>
                <td class="text-end">{{ 숫자콤마(물리종전효율계산().물공추가종전(100)) }}</td>
            </tr>
            <tr>
                <th>총 물리 공격력 1%</th>
                <td class="text-end">{{ 숫자콤마(물리종전효율계산().총물공추가종전(1)) }}</td>
            </tr>
            <tr>
                <th>물리 치명타 피해량 1%</th>
                <td class="text-end">{{ 숫자콤마(물리종전효율계산().물치피추가종전(1)) }}</td>
            </tr>
            <tr>
                <th>조건부 치명타 피해량 1%</th>
                <td class="text-end">{{ 숫자콤마(물리종전효율계산().조건부치피추가종전(1)) }}</td>
            </tr>
            <tr>
                <th>위상력 개방시 데미지 증가 1%</th>
                <td class="text-end">{{ 숫자콤마(물리종전효율계산().위개뎀추가종전(1)) }}</td>
            </tr>
            <tr>
                <th>에어리얼시 피해량 증가 1%</th>
                <td class="text-end">{{ 숫자콤마(물리종전효율계산().에피증추가종전(1)) }}</td>
            </tr>
            <tr>
                <th>백어택시 피해량 증가 1%</th>
                <td class="text-end">{{ 숫자콤마(물리종전효율계산().백피증추가종전(1)) }}</td>
            </tr>
            <tr>
                <th>체이스시 피해량 증가 1%</th>
                <td class="text-end">{{ 숫자콤마(물리종전효율계산().체피증추가종전(1)) }}</td>
            </tr>
            <tr>
                <th>공격 속도 1%</th>
                <td class="text-end">{{ 숫자콤마(물리종전효율계산().공속추가종전(1)) }}</td>
            </tr>
            <tr>
                <th>스킬 재사용 대기시간 감소 1%</th>
                <td class="text-end">{{ 숫자콤마(물리종전효율계산().쿨감추가종전(1)) }}</td>
            </tr>
        </table>
    </div>
    <!-- 마공 종합 전투력 증가량 -->
    <div v-if="캐릭터 === '이슬비' || 
    캐릭터 === '미스틸테인' || 
    캐릭터 === '볼프강' || 
    캐릭터 === '세트' || 
    캐릭터 === '은하'">
        <table class="table">
            <tr>
                <th></th>
                <th class="text-end">종합 전투력 증가량</th>
            </tr>
            <tr>
                <th>마법 공격력 100</th>
                <td class="text-end">{{ 숫자콤마(마법종전효율계산().마공추가종전(100)) }}</td>
            </tr>
            <tr>
                <th>총 마법 공격력 1%</th>
                <td class="text-end">{{ 숫자콤마(마법종전효율계산().총마공추가종전(1)) }}</td>
            </tr>
            <tr>
                <th>마법 치명타 피해량 1%</th>
                <td class="text-end">{{ 숫자콤마(마법종전효율계산().마치피추가종전(1)) }}</td>
            </tr>
            <tr>
                <th>조건부 치명타 피해량 1%</th>
                <td class="text-end">{{ 숫자콤마(마법종전효율계산().조건부치피추가종전(1)) }}</td>
            </tr>
            <tr>
                <th>위상력 개방시 데미지 증가 1%</th>
                <td class="text-end">{{ 숫자콤마(마법종전효율계산().위개뎀추가종전(1)) }}</td>
            </tr>
            <tr>
                <th>에어리얼시 피해량 증가 1%</th>
                <td class="text-end">{{ 숫자콤마(마법종전효율계산().에피증추가종전(1)) }}</td>
            </tr>
            <tr>
                <th>백어택시 피해량 증가 1%</th>
                <td class="text-end">{{ 숫자콤마(마법종전효율계산().백피증추가종전(1)) }}</td>
            </tr>
            <tr>
                <th>체이스시 피해량 증가 1%</th>
                <td class="text-end">{{ 숫자콤마(마법종전효율계산().체피증추가종전(1)) }}</td>
            </tr>
            <tr>
                <th>공격 속도 1%</th>
                <td class="text-end">{{ 숫자콤마(마법종전효율계산().공속추가종전(1)) }}</td>
            </tr>
            <tr>
                <th>스킬 재사용 대기시간 감소 1%</th>
                <td class="text-end">{{ 숫자콤마(마법종전효율계산().쿨감추가종전(1)) }}</td>
            </tr>
        </table>
    </div>
    <!-- 하이브리드 종합 전투력 증가량 -->
    <div v-if="캐릭터 === '바이올렛' || 
    캐릭터 === '김철수' || 
    캐릭터 === '루시'">
        <table class="table">
            <tr>
                <th></th>
                <th class="text-end">종합 전투력 증가량</th>
            </tr>
            <tr>
                <th>물리 공격력 100</th>
                <td class="text-end">{{ 숫자콤마(하이브리드종전효율계산().물공추가종전(100)) }}</td>
            </tr>
            <tr>
                <th>총 물리 공격력 1%</th>
                <td class="text-end">{{ 숫자콤마(하이브리드종전효율계산().물공추가종전(1)) }}</td>
            </tr>
            <tr>
                <th>마법 공격력 100</th>
                <td class="text-end">{{ 숫자콤마(하이브리드종전효율계산().마공추가종전(100)) }}</td>
            </tr>
            <tr>
                <th>총 마법 공격력 1%</th>
                <td class="text-end">{{ 숫자콤마(하이브리드종전효율계산().마공추가종전(1)) }}</td>
            </tr>
            <tr>
                <th>물리 치명타 피해량 1%</th>
                <td class="text-end">{{ 숫자콤마(하이브리드종전효율계산().물치피추가종전(1)) }}</td>
            </tr>
            <tr>
                <th>마법 치명타 피해량 1%</th>
                <td class="text-end">{{ 숫자콤마(하이브리드종전효율계산().마치피추가종전(1)) }}</td>
            </tr>
            <tr>
                <th>조건부 치명타 피해량 1%</th>
                <td class="text-end">{{ 숫자콤마(하이브리드종전효율계산().조건부치피추가종전(1)) }}</td>
            </tr>
            <tr>
                <th>위상력 개방시 데미지 증가 1%</th>
                <td class="text-end">{{ 숫자콤마(물리종전효율계산().위개뎀추가종전(1)) }}</td>
            </tr>
            <tr>
                <th>에어리얼시 피해량 증가 1%</th>
                <td class="text-end">{{ 숫자콤마(하이브리드종전효율계산().에피증추가종전(1)) }}</td>
            </tr>
            <tr>
                <th>백어택시 피해량 증가 1%</th>
                <td class="text-end">{{ 숫자콤마(하이브리드종전효율계산().백피증추가종전(1)) }}</td>
            </tr>
            <tr>
                <th>체이스시 피해량 증가 1%</th>
                <td class="text-end">{{ 숫자콤마(하이브리드종전효율계산().체피증추가종전(1)) }}</td>
            </tr>
            <tr>
                <th>공격 속도 1%</th>
                <td class="text-end">{{ 숫자콤마(하이브리드종전효율계산().공속추가종전(1)) }}</td>
            </tr>
            <tr>
                <th>스킬 재사용 대기시간 감소 1%</th>
                <td class="text-end">{{ 숫자콤마(하이브리드종전효율계산().쿨감추가종전(1)) }}</td>
            </tr>
        </table>
    </div>
    <!-- 캐릭터별 종합 전투력 증가량 -->
    <div v-if="캐릭터 === '이세하'">
        <table class="table">
            <tr>
                <th></th>
                <th class="text-end">종합 전투력 증가량</th>
            </tr>
            <tr>
                <th>물리 공격력 100</th>
                <td class="text-end">{{ 숫자콤마(이세하종전효율계산().물공추가종전(100)) }}</td>
            </tr>
            <tr>
                <th>총 물리 공격력 1%</th>
                <td class="text-end">{{ 숫자콤마(이세하종전효율계산().총물공추가종전(1)) }}</td>
            </tr>
            <tr>
                <th>물리 치명타 피해량 1%</th>
                <td class="text-end">{{ 숫자콤마(이세하종전효율계산().물치피추가종전(1)) }}</td>
            </tr>
            <tr>
                <th>조건부 치명타 피해량 1%</th>
                <td class="text-end">{{ 숫자콤마(이세하종전효율계산().조건부치피추가종전(1)) }}</td>
            </tr>
            <tr>
                <th>위상력 개방시 데미지 증가 1%</th>
                <td class="text-end">{{ 숫자콤마(이세하종전효율계산().위개뎀추가종전(1)) }}</td>
            </tr>
            <tr>
                <th>에어리얼시 피해량 증가 1%</th>
                <td class="text-end">{{ 숫자콤마(이세하종전효율계산().에피증추가종전(1)) }}</td>
            </tr>
            <tr>
                <th>백어택시 피해량 증가 1%</th>
                <td class="text-end">{{ 숫자콤마(이세하종전효율계산().백피증추가종전(1)) }}</td>
            </tr>
            <tr>
                <th>체이스시 피해량 증가 1%</th>
                <td class="text-end">{{ 숫자콤마(이세하종전효율계산().체피증추가종전(1)) }}</td>
            </tr>
            <tr>
                <th>공격 속도 1%</th>
                <td class="text-end">{{ 숫자콤마(이세하종전효율계산().공속추가종전(1)) }}</td>
            </tr>
            <tr>
                <th>스킬 재사용 대기시간 감소 1%</th>
                <td class="text-end">{{ 숫자콤마(이세하종전효율계산().쿨감추가종전(1)) }}</td>
            </tr>
        </table>
    </div>
    <div v-if="캐릭터 === '서유리'">
        <table class="table">
            <tr>
                <th></th>
                <th class="text-end">종합 전투력 증가량</th>
            </tr>
            <tr>
                <th>물리 공격력 100</th>
                <td class="text-end">{{ 숫자콤마(서유리종전효율계산().물공추가종전(100)) }}</td>
            </tr>
            <tr>
                <th>총 물리 공격력 1%</th>
                <td class="text-end">{{ 숫자콤마(서유리종전효율계산().총물공추가종전(1)) }}</td>
            </tr>
            <tr>
                <th>마법 공격력 100</th>
                <td class="text-end">{{ 숫자콤마(서유리종전효율계산().마공추가종전(100)) }}</td>
            </tr>
            <tr>
                <th>총 마법 공격력 1%</th>
                <td class="text-end">{{ 숫자콤마(서유리종전효율계산().총마공추가종전(1)) }}</td>
            </tr>
            <tr>
                <th>물리 치명타 피해량 1%</th>
                <td class="text-end">{{ 숫자콤마(서유리종전효율계산().물치피추가종전(1)) }}</td>
            </tr>
            <tr>
                <th>마법 치명타 피해량 1%</th>
                <td class="text-end">{{ 숫자콤마(서유리종전효율계산().마치피추가종전(1)) }}</td>
            </tr>
            <tr>
                <th>조건부 치명타 피해량 1%</th>
                <td class="text-end">{{ 숫자콤마(서유리종전효율계산().조건부치피추가종전(1)) }}</td>
            </tr>
            <tr>
                <th>위상력 개방시 데미지 증가 1%</th>
                <td class="text-end">{{ 숫자콤마(서유리종전효율계산().위개뎀추가종전(1)) }}</td>
            </tr>
            <tr>
                <th>에어리얼시 피해량 증가 1%</th>
                <td class="text-end">{{ 숫자콤마(서유리종전효율계산().에피증추가종전(1)) }}</td>
            </tr>
            <tr>
                <th>백어택시 피해량 증가 1%</th>
                <td class="text-end">{{ 숫자콤마(서유리종전효율계산().백피증추가종전(1)) }}</td>
            </tr>
            <tr>
                <th>체이스시 피해량 증가 1%</th>
                <td class="text-end">{{ 숫자콤마(서유리종전효율계산().체피증추가종전(1)) }}</td>
            </tr>
            <tr>
                <th>공격 속도 1%</th>
                <td class="text-end">{{ 숫자콤마(서유리종전효율계산().공속추가종전(1)) }}</td>
            </tr>
            <tr>
                <th>스킬 재사용 대기시간 감소 1%</th>
                <td class="text-end">{{ 숫자콤마(서유리종전효율계산().쿨감추가종전(1)) }}</td>
            </tr>
        </table>
    </div>
    <div v-if="캐릭터 === '나타'">
        <table class="table">
            <tr>
                <th></th>
                <th class="text-end">종합 전투력 증가량</th>
            </tr>
            <tr>
                <th>물리 공격력 100</th>
                <td class="text-end">{{ 숫자콤마(나타종전효율계산().물공추가종전(100)) }}</td>
            </tr>
            <tr>
                <th>총 물리 공격력 1%</th>
                <td class="text-end">{{ 숫자콤마(나타종전효율계산().총물공추가종전(1)) }}</td>
            </tr>
            <tr>
                <th>물리 치명타 피해량 1%</th>
                <td class="text-end">{{ 숫자콤마(나타종전효율계산().물치피추가종전(1)) }}</td>
            </tr>
            <tr>
                <th>조건부 치명타 피해량 1%</th>
                <td class="text-end">{{ 숫자콤마(나타종전효율계산().조건부치피추가종전(1)) }}</td>
            </tr>
            <tr>
                <th>위상력 개방시 데미지 증가 1%</th>
                <td class="text-end">{{ 숫자콤마(나타종전효율계산().위개뎀추가종전(1)) }}</td>
            </tr>
            <tr>
                <th>에어리얼시 피해량 증가 1%</th>
                <td class="text-end">{{ 숫자콤마(나타종전효율계산().에피증추가종전(1)) }}</td>
            </tr>
            <tr>
                <th>백어택시 피해량 증가 1%</th>
                <td class="text-end">{{ 숫자콤마(나타종전효율계산().백피증추가종전(1)) }}</td>
            </tr>
            <tr>
                <th>체이스시 피해량 증가 1%</th>
                <td class="text-end">{{ 숫자콤마(나타종전효율계산().체피증추가종전(1)) }}</td>
            </tr>
            <tr>
                <th>공격 속도 1%</th>
                <td class="text-end">{{ 숫자콤마(나타종전효율계산().공속추가종전(1)) }}</td>
            </tr>
            <tr>
                <th>스킬 재사용 대기시간 감소 1%</th>
                <td class="text-end">{{ 숫자콤마(나타종전효율계산().쿨감추가종전(1)) }}</td>
            </tr>
        </table>
    </div>
    <div v-if="캐릭터 === '하피'">
        <table class="table">
            <tr>
                <th></th>
                <th class="text-end">종합 전투력 증가량</th>
            </tr>
            <tr>
                <th>물리 공격력 100</th>
                <td class="text-end">{{ 숫자콤마(하피종전효율계산().물공추가종전(100)) }}</td>
            </tr>
            <tr>
                <th>총 물리 공격력 1%</th>
                <td class="text-end">{{ 숫자콤마(하피종전효율계산().총물공추가종전(1)) }}</td>
            </tr>
            <tr>
                <th>물리 치명타 피해량 1%</th>
                <td class="text-end">{{ 숫자콤마(하피종전효율계산().물치피추가종전(1)) }}</td>
            </tr>
            <tr>
                <th>조건부 치명타 피해량 1%</th>
                <td class="text-end">{{ 숫자콤마(하피종전효율계산().조건부치피추가종전(1)) }}</td>
            </tr>
            <tr>
                <th>위상력 개방시 데미지 증가 1%</th>
                <td class="text-end">{{ 숫자콤마(하피종전효율계산().위개뎀추가종전(1)) }}</td>
            </tr>
            <tr>
                <th>에어리얼시 피해량 증가 1%</th>
                <td class="text-end">{{ 숫자콤마(하피종전효율계산().에피증추가종전(1)) }}</td>
            </tr>
            <tr>
                <th>백어택시 피해량 증가 1%</th>
                <td class="text-end">{{ 숫자콤마(하피종전효율계산().백피증추가종전(1)) }}</td>
            </tr>
            <tr>
                <th>체이스시 피해량 증가 1%</th>
                <td class="text-end">{{ 숫자콤마(하피종전효율계산().체피증추가종전(1)) }}</td>
            </tr>
            <tr>
                <th>공격 속도 1%</th>
                <td class="text-end">{{ 숫자콤마(하피종전효율계산().공속추가종전(1)) }}</td>
            </tr>
            <tr>
                <th>스킬 재사용 대기시간 감소 1%</th>
                <td class="text-end">{{ 숫자콤마(하피종전효율계산().쿨감추가종전(1)) }}</td>
            </tr>
        </table>
    </div>
    <div v-if="캐릭터 === '티나'">
        <table class="table">
            <tr>
                <th></th>
                <th class="text-end">종합 전투력 증가량</th>
            </tr>
            <tr>
                <th>물리 공격력 100</th>
                <td class="text-end">{{ 숫자콤마(티나종전효율계산().물공추가종전(100)) }}</td>
            </tr>
            <tr>
                <th>총 물리 공격력 1%</th>
                <td class="text-end">{{ 숫자콤마(티나종전효율계산().총물공추가종전(1)) }}</td>
            </tr>
            <tr>
                <th>물리 치명타 피해량 1%</th>
                <td class="text-end">{{ 숫자콤마(티나종전효율계산().물치피추가종전(1)) }}</td>
            </tr>
            <tr>
                <th>조건부 치명타 피해량 1%</th>
                <td class="text-end">{{ 숫자콤마(티나종전효율계산().조건부치피추가종전(1)) }}</td>
            </tr>
            <tr>
                <th>위상력 개방시 데미지 증가 1%</th>
                <td class="text-end">{{ 숫자콤마(티나종전효율계산().위개뎀추가종전(1)) }}</td>
            </tr>
            <tr>
                <th>에어리얼시 피해량 증가 1%</th>
                <td class="text-end">{{ 숫자콤마(티나종전효율계산().에피증추가종전(1)) }}</td>
            </tr>
            <tr>
                <th>백어택시 피해량 증가 1%</th>
                <td class="text-end">{{ 숫자콤마(티나종전효율계산().백피증추가종전(1)) }}</td>
            </tr>
            <tr>
                <th>체이스시 피해량 증가 1%</th>
                <td class="text-end">{{ 숫자콤마(티나종전효율계산().체피증추가종전(1)) }}</td>
            </tr>
            <tr>
                <th>공격 속도 1%</th>
                <td class="text-end">{{ 숫자콤마(티나종전효율계산().공속추가종전(1)) }}</td>
            </tr>
            <tr>
                <th>스킬 재사용 대기시간 감소 1%</th>
                <td class="text-end">{{ 숫자콤마(티나종전효율계산().쿨감추가종전(1)) }}</td>
            </tr>
        </table>
    </div>
    <div v-if="캐릭터 === '파이'">
        <table class="table">
            <tr>
                <th></th>
                <th class="text-end">종합 전투력 증가량</th>
            </tr>
            <tr>
                <th>물리 공격력 100</th>
                <td class="text-end">{{ 숫자콤마(파이종전효율계산().물공추가종전(100)) }}</td>
            </tr>
            <tr>
                <th>총 물리 공격력 1%</th>
                <td class="text-end">{{ 숫자콤마(파이종전효율계산().총물공추가종전(1)) }}</td>
            </tr>
            <tr>
                <th>마법 공격력 100</th>
                <td class="text-end">{{ 숫자콤마(파이종전효율계산().마공추가종전(100)) }}</td>
            </tr>
            <tr>
                <th>총 마법 공격력 1%</th>
                <td class="text-end">{{ 숫자콤마(파이종전효율계산().총마공추가종전(1)) }}</td>
            </tr>
            <tr>
                <th>물리 치명타 피해량 1%</th>
                <td class="text-end">{{ 숫자콤마(파이종전효율계산().물치피추가종전(1)) }}</td>
            </tr>
            <tr>
                <th>마법 치명타 피해량 1%</th>
                <td class="text-end">{{ 숫자콤마(파이종전효율계산().마치피추가종전(1)) }}</td>
            </tr>
            <tr>
                <th>조건부 치명타 피해량 1%</th>
                <td class="text-end">{{ 숫자콤마(파이종전효율계산().조건부치피추가종전(1)) }}</td>
            </tr>
            <tr>
                <th>위상력 개방시 데미지 증가 1%</th>
                <td class="text-end">{{ 숫자콤마(파이종전효율계산().위개뎀추가종전(1)) }}</td>
            </tr>
            <tr>
                <th>에어리얼시 피해량 증가 1%</th>
                <td class="text-end">{{ 숫자콤마(파이종전효율계산().에피증추가종전(1)) }}</td>
            </tr>
            <tr>
                <th>백어택시 피해량 증가 1%</th>
                <td class="text-end">{{ 숫자콤마(파이종전효율계산().백피증추가종전(1)) }}</td>
            </tr>
            <tr>
                <th>체이스시 피해량 증가 1%</th>
                <td class="text-end">{{ 숫자콤마(파이종전효율계산().체피증추가종전(1)) }}</td>
            </tr>
            <tr>
                <th>공격 속도 1%</th>
                <td class="text-end">{{ 숫자콤마(파이종전효율계산().공속추가종전(1)) }}</td>
            </tr>
            <tr>
                <th>스킬 재사용 대기시간 감소 1%</th>
                <td class="text-end">{{ 숫자콤마(파이종전효율계산().쿨감추가종전(1)) }}</td>
            </tr>
        </table>
    </div>
    <div v-if="캐릭터 === '레비아'">
        <table class="table">
            <tr>
                <th></th>
                <th class="text-end">종합 전투력 증가량</th>
            </tr>
            <tr>
                <th>마법 공격력 100</th>
                <td class="text-end">{{ 숫자콤마(레비아종전효율계산().마공추가종전(100)) }}</td>
            </tr>
            <tr>
                <th>총 마법 공격력 1%</th>
                <td class="text-end">{{ 숫자콤마(레비아종전효율계산().총마공추가종전(1)) }}</td>
            </tr>
            <tr>
                <th>마법 치명타 피해량 1%</th>
                <td class="text-end">{{ 숫자콤마(레비아종전효율계산().마치피추가종전(1)) }}</td>
            </tr>
            <tr>
                <th>조건부 치명타 피해량 1%</th>
                <td class="text-end">{{ 숫자콤마(레비아종전효율계산().조건부치피추가종전(1)) }}</td>
            </tr>
            <tr>
                <th>위상력 개방시 데미지 증가 1%</th>
                <td class="text-end">{{ 숫자콤마(레비아종전효율계산().위개뎀추가종전(1)) }}</td>
            </tr>
            <tr>
                <th>에어리얼시 피해량 증가 1%</th>
                <td class="text-end">{{ 숫자콤마(레비아종전효율계산().에피증추가종전(1)) }}</td>
            </tr>
            <tr>
                <th>백어택시 피해량 증가 1%</th>
                <td class="text-end">{{ 숫자콤마(레비아종전효율계산().백피증추가종전(1)) }}</td>
            </tr>
            <tr>
                <th>체이스시 피해량 증가 1%</th>
                <td class="text-end">{{ 숫자콤마(레비아종전효율계산().체피증추가종전(1)) }}</td>
            </tr>
            <tr>
                <th>공격 속도 1%</th>
                <td class="text-end">{{ 숫자콤마(레비아종전효율계산().공속추가종전(1)) }}</td>
            </tr>
            <tr>
                <th>스킬 재사용 대기시간 감소 1%</th>
                <td class="text-end">{{ 숫자콤마(레비아종전효율계산().쿨감추가종전(1)) }}</td>
            </tr>
        </table>
    </div>
    <div>모든 계산 결과는 실제 값과 다를 수 있습니다. 참고용으로만 사용하시기 바랍니다.</div>
    
    <!-- 계산 공식 -->
    <div>
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary mb-3" data-bs-toggle="modal" data-bs-target="#설명">
            사용된 종합전투력 계산 공식
        </button>    
        <!-- Modal -->
        <div class="modal fade" id="설명" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">사용된 종합전투력 계산 공식</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <ul>
                            <li>종합 전투력 = 물리/마법 공격력 × (1 + 공격 속도(%)/10) × (1 + 스킬 재사용 대기시간 감소) × (1 + 보정합치피) × (1 + 합피증) × 방관보정계수 × (1 + 캐릭터 계수)</li>
                            <li>보정합치피 = 물리/마법 치명타 피해량 × (1 + 캐릭터 계수) + 에어리얼시 치명타 피해량 + 백어택시 치명타 피해량 + 체이스시 치명타 피해량</li>        
                            <li>합피증 = 위상력 개방시 데미지 증가 + 에어리얼시 피해량 증가 + 백어택시 피해량 증가 + 체이스시 피해량 증가</li>
                            <li>방관보정계수 = 1 + (보정합치피 / (1 + 보정합치피) / 8)</li>
                            <li>치명타 발생률, 방어 관통률 100% 기준</li>
                            <li>스킬 재사용 대기시간 감소는 최대 40%까지 적용</li>
                            <li>하이브리드는 (물리종전 + 마법종전)/2</li>
                        </ul>
                        <div>
                            <table class="table">
                                <tr>
                                    <th>캐릭터</th>
                                    <th>계수</th>
                                </tr>
                                <tr>
                                    <th>이세하</th>
                                    <td>5%</td>
                                </tr>
                                <tr>
                                    <th>이슬비</th>
                                    <td>5%</td>
                                </tr>
                                <tr>
                                    <th>제이</th>
                                    <td>2%</td>
                                </tr>
                                <tr>
                                    <th>서유리</th>
                                    <td>8%</td>
                                </tr>
                                <tr>
                                    <th>미스틸테인</th>
                                    <td>5%</td>
                                </tr>
                                <tr>
                                    <th>나타</th>
                                    <td>1.5%</td>
                                </tr>
                                <tr>
                                    <th>레비아</th>
                                    <td>2.5%</td>
                                </tr>
                                <tr>
                                    <th>하피</th>
                                    <td>1.5%</td>
                                </tr>
                                <tr>
                                    <th>티나</th>
                                    <td>3%</td>
                                </tr>
                                <tr>
                                    <th>바이올렛</th>
                                    <td>34%</td>
                                </tr>
                                <tr>
                                    <th>볼프강</th>
                                    <td>5%</td>
                                </tr>
                                <tr>
                                    <th>루나</th>
                                    <td>4%</td>
                                </tr>
                                <tr>
                                    <th>소마</th>
                                    <td>4%</td>
                                </tr>
                                <tr>
                                    <th>파이</th>
                                    <td>33%</td>
                                </tr>
                                <tr>
                                    <th>세트</th>
                                    <td>3%</td>
                                </tr>
                                <tr>
                                    <th>미래</th>
                                    <td>4%</td>
                                </tr>
                                <tr>
                                    <th>김철수</th>
                                    <td>33%</td>
                                </tr>
                                <tr>
                                    <th>은하</th>
                                    <td>4%</td>
                                </tr>
                                <tr>
                                    <th>루시</th>
                                    <td>33%</td>
                                </tr>
                            </table>
                        </div>
                        <a href="http://closers.nexon.com/Community/Tip/View?n4ArticleSN=18451" target="_blank">캐릭터 계수 출처</a>
                    </div>
                    <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr>

    <!-- 스킬 데미지 -->
    <h2>스킬 데미지</h2>
    <div class="input-group mb-3">
        <span class="input-group-text">치피감</span>
        <input type="number" class="form-control text-end" v-model.number="치피감">
        <span class="input-group-text">%</span>
    </div>
    <div class="input-group mb-3">
        <span class="input-group-text">뎀감</span>
        <input type="number" class="form-control text-end" v-model.number="뎀감">
        <span class="input-group-text">%</span>
    </div>
    <div class="input-group mb-3">
        <span class="input-group-text">스킬계수</span>
        <input type="number" class="form-control text-end" v-model.number="스킬계수">
        <span class="input-group-text">%</span>
    </div>
    <div class="input-group mb-3">
        <span class="input-group-text">방어 타입에 피해량 증가 </span>
        <input type="number" class="form-control text-end" v-model.number="타입피증">
        <span class="input-group-text">%</span>
    </div>
    <div v-if="캐릭터_데이터[캐릭터].타입 === '물리' || 캐릭터_데이터[캐릭터].타입 === '하이브리드' ">
        <table class="table">
            <tr>
                <th></th>
                <th class="text-end">물리 데미지(배율)</th>
            </tr>
            <tr>
                <th>정면</th>
                <td class="text-end">{{ 숫자콤마(조건부물리데미지계산().정면) }} (100%)</td>
            </tr>
            <tr>
                <th>에어리얼</th>
                <td class="text-end">{{ 숫자콤마(조건부물리데미지계산().에) }} ({{ 숫자콤마(조건부물리데미지계산().에 / 조건부물리데미지계산().정면 * 100 )}}%)</td>
            </tr>
            <tr>
                <th>백어택</th>
                <td class="text-end">{{ 숫자콤마(조건부물리데미지계산().백) }} ({{ 숫자콤마(조건부물리데미지계산().백 / 조건부물리데미지계산().정면 * 100 )}}%)</td>
            </tr>
            <tr>
                <th>체이스</th>
                <td class="text-end">{{ 숫자콤마(조건부물리데미지계산().체) }} ({{ 숫자콤마(조건부물리데미지계산().체 / 조건부물리데미지계산().정면 * 100 )}}%)</td>
            </tr>
            <tr>
                <th>에+백</th>
                <td class="text-end">{{ 숫자콤마(조건부물리데미지계산().에백) }} ({{ 숫자콤마(조건부물리데미지계산().에백 / 조건부물리데미지계산().정면 * 100 )}}%)</td>
            </tr>
            <tr>
                <th>에+체</th>
                <td class="text-end">{{ 숫자콤마(조건부물리데미지계산().에체) }} ({{ 숫자콤마(조건부물리데미지계산().에체 / 조건부물리데미지계산().정면 * 100 )}}%)</td>
            </tr>
            <tr>
                <th>백+체</th>
                <td class="text-end">{{ 숫자콤마(조건부물리데미지계산().백체) }} ({{ 숫자콤마(조건부물리데미지계산().백체 / 조건부물리데미지계산().정면 * 100 )}}%)</td>
            </tr>
            <tr>
                <th>에+백+체</th>
                <td class="text-end">{{ 숫자콤마(조건부물리데미지계산().에백체) }} ({{ 숫자콤마(조건부물리데미지계산().에백체 / 조건부물리데미지계산().정면 * 100 )}}%)</td>
            </tr>
            <tr>
                <th>위상력 개방 + 정면</th>
                <td class="text-end">{{ 숫자콤마(조건부물리데미지계산().위) }} ({{ 숫자콤마(조건부물리데미지계산().위 / 조건부물리데미지계산().정면 * 100 )}}%)</td>
            </tr>
            <tr>
                <th>위+에</th>
                <td class="text-end">{{ 숫자콤마(조건부물리데미지계산().위에) }} ({{ 숫자콤마(조건부물리데미지계산().위에 / 조건부물리데미지계산().정면 * 100 )}}%)</td>
            </tr>
            <tr>
                <th>위+백</th>
                <td class="text-end">{{ 숫자콤마(조건부물리데미지계산().위백) }} ({{ 숫자콤마(조건부물리데미지계산().위백 / 조건부물리데미지계산().정면 * 100 )}}%)</td>
            </tr>
            <tr>
                <th>위+체</th>
                <td class="text-end">{{ 숫자콤마(조건부물리데미지계산().위체) }} ({{ 숫자콤마(조건부물리데미지계산().위체 / 조건부물리데미지계산().정면 * 100 )}}%)</td>
            </tr>
            <tr>
                <th>위+에+백</th>
                <td class="text-end">{{ 숫자콤마(조건부물리데미지계산().위에백) }} ({{ 숫자콤마(조건부물리데미지계산().위에백 / 조건부물리데미지계산().정면 * 100 )}}%)</td>
            </tr>
            <tr>
                <th>위+에+체</th>
                <td class="text-end">{{ 숫자콤마(조건부물리데미지계산().위에체) }} ({{ 숫자콤마(조건부물리데미지계산().위에체 / 조건부물리데미지계산().정면 * 100 )}}%)</td>
            </tr>
            <tr>
                <th>위+백+체</th>
                <td class="text-end">{{ 숫자콤마(조건부물리데미지계산().위백체) }} ({{ 숫자콤마(조건부물리데미지계산().위백체 / 조건부물리데미지계산().정면 * 100 )}}%)</td>
            </tr>
            <tr>
                <th>위+에+백+체</th>
                <td class="text-end">{{ 숫자콤마(조건부물리데미지계산().위에백체) }} ({{ 숫자콤마(조건부물리데미지계산().위에백체 / 조건부물리데미지계산().정면 * 100 )}}%)</td>
            </tr>
        </table>
    </div>
    <div v-if="캐릭터_데이터[캐릭터].타입 === '마법' || 캐릭터_데이터[캐릭터].타입 === '하이브리드' ">
        <table class="table">
            <tr>
                <th></th>
                <th class="text-end">마법 데미지(배율)</th>
            </tr>
            <tr>
                <th>정면</th>
                <td class="text-end">{{ 숫자콤마(조건부마법데미지계산().정면) }} (100%)</td>
            </tr>
            <tr>
                <th>에어리얼</th>
                <td class="text-end">{{ 숫자콤마(조건부마법데미지계산().에) }} ({{ 숫자콤마(조건부마법데미지계산().에 / 조건부마법데미지계산().정면 * 100 )}}%)</td>
            </tr>
            <tr>
                <th>백어택</th>
                <td class="text-end">{{ 숫자콤마(조건부마법데미지계산().백) }} ({{ 숫자콤마(조건부마법데미지계산().백 / 조건부마법데미지계산().정면 * 100 )}}%)</td>
            </tr>
            <tr>
                <th>체이스</th>
                <td class="text-end">{{ 숫자콤마(조건부마법데미지계산().체) }} ({{ 숫자콤마(조건부마법데미지계산().체 / 조건부마법데미지계산().정면 * 100 )}}%)</td>
            </tr>
            <tr>
                <th>에+백</th>
                <td class="text-end">{{ 숫자콤마(조건부마법데미지계산().에백) }} ({{ 숫자콤마(조건부마법데미지계산().에백 / 조건부마법데미지계산().정면 * 100 )}}%)</td>
            </tr>
            <tr>
                <th>에+체</th>
                <td class="text-end">{{ 숫자콤마(조건부마법데미지계산().에체) }} ({{ 숫자콤마(조건부마법데미지계산().에체 / 조건부마법데미지계산().정면 * 100 )}}%)</td>
            </tr>
            <tr>
                <th>백+체</th>
                <td class="text-end">{{ 숫자콤마(조건부마법데미지계산().백체) }} ({{ 숫자콤마(조건부마법데미지계산().백체 / 조건부마법데미지계산().정면 * 100 )}}%)</td>
            </tr>
            <tr>
                <th>에+백+체</th>
                <td class="text-end">{{ 숫자콤마(조건부마법데미지계산().에백체) }} ({{ 숫자콤마(조건부마법데미지계산().에백체 / 조건부마법데미지계산().정면 * 100 )}}%)</td>
            </tr>
            <tr>
                <th>위상력 개방 + 정면</th>
                <td class="text-end">{{ 숫자콤마(조건부마법데미지계산().위) }} ({{ 숫자콤마(조건부마법데미지계산().위 / 조건부마법데미지계산().정면 * 100 )}}%)</td>
            </tr>
            <tr>
                <th>위+에</th>
                <td class="text-end">{{ 숫자콤마(조건부마법데미지계산().위에) }} ({{ 숫자콤마(조건부마법데미지계산().위에 / 조건부마법데미지계산().정면 * 100 )}}%)</td>
            </tr>
            <tr>
                <th>위+백</th>
                <td class="text-end">{{ 숫자콤마(조건부마법데미지계산().위백) }} ({{ 숫자콤마(조건부마법데미지계산().위백 / 조건부마법데미지계산().정면 * 100 )}}%)</td>
            </tr>
            <tr>
                <th>위+체</th>
                <td class="text-end">{{ 숫자콤마(조건부마법데미지계산().위체) }} ({{ 숫자콤마(조건부마법데미지계산().위체 / 조건부마법데미지계산().정면 * 100 )}}%)</td>
            </tr>
            <tr>
                <th>위+에+백</th>
                <td class="text-end">{{ 숫자콤마(조건부마법데미지계산().위에백) }} ({{ 숫자콤마(조건부마법데미지계산().위에백 / 조건부마법데미지계산().정면 * 100 )}}%)</td>
            </tr>
            <tr>
                <th>위+에+체</th>
                <td class="text-end">{{ 숫자콤마(조건부마법데미지계산().위에체) }} ({{ 숫자콤마(조건부마법데미지계산().위에체 / 조건부마법데미지계산().정면 * 100 )}}%)</td>
            </tr>
            <tr>
                <th>위+백+체</th>
                <td class="text-end">{{ 숫자콤마(조건부마법데미지계산().위백체) }} ({{ 숫자콤마(조건부마법데미지계산().위백체 / 조건부마법데미지계산().정면 * 100 )}}%)</td>
            </tr>
            <tr>
                <th>위+에+백+체</th>
                <td class="text-end">{{ 숫자콤마(조건부마법데미지계산().위에백체) }} ({{ 숫자콤마(조건부마법데미지계산().위에백체 / 조건부마법데미지계산().정면 * 100 )}}%)</td>
            </tr>
        </table>
    </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<script src="js/main.js"></script>
</body>
</html>
